@import "tailwindcss";

@theme {
  --color-primary: #00d09c;
  --color-danger: #ff4757;
  --color-dark-bg: #0a0a0f;
  --color-dark-card: #12121a;
}

body {
  background-color: var(--color-dark-bg);
  color: white;
  font-family: 'Inter', sans-serif;
}
